<section class="mat-typography">
    <div> 
    <div style="text-align:center">
        <div class="title_background">
            <p style="height: 20px;"></p>
      <div class="title_box">
      <h1>
        {{ title }}
      </h1>
      <hr>
      <h2 style="color: white;">
        Currently viewing repository: <span style="color: lightgreen"> {{ displayRepoName() }} </span>
      </h2>
      <h3 class="repo_description">
        {{ displayRepoDescription() }}
      </h3>
    <div>
      <button class="fetch_button" style="margin-top:10px;" mat-raised-button (click)="getRepo()">Test Fetching Repo</button>
    </div>
  </div>
  <p style="height: 20px;"></p>
</div>

<div class="summary">
    <p class="summary_title">Summary</p>
  <div class="summary_box">
    <mat-form-field class="summary_input">
      <textarea matInput placeholder="Write a story summary here.  Eventually these Summary updates will save to a db." matTextareaAutosize matAutosizeMinRows="2"
                matAutosizeMaxRows="10"></textarea>
    </mat-form-field>
  </div>
</div>
    <ul>
      <li *ngFor="let i of ghIds"  style="text-align:left">{{i.login}}</li>
      <app-id-list [idlist]="ghIds"></app-id-list>
    </ul>
    </div>
  </div>
  <div *ngIf="errorMessage" class="error">{{errorMessage}}</div>
    </section>
