<section class="mat-typography">
    <div> 
    <div style="text-align:center">
        <div class="title_background">
            <p style="height: 20px;"></p>
      <div class="title_box">
      <h1>
        {{ title }}
      </h1>
      <hr>
      <h2 style="color: white;">
        Currently viewing repository: <span style="color: #00BFA5"> {{ displayRepoName() }} </span>
      </h2>
      <h3 class="repo_description">
        {{ displayRepoDescription() }}
      </h3>
    <div>
      <button class="fetch_button" style="margin-top:10px;" mat-raised-button onclick="location.href='https://github.com/nuvention-web/bootcampteamf';">Browse Repository on Github</button>
    </div>
  </div>
  <p style="height: 20px;"></p>
</div>

<div class="summary">
    <p class="summary_title">Summary</p>
  <div class="summary_box">
    <mat-form-field class="summary_input">
      <textarea matInput placeholder="Write a story summary here.  Eventually these Summary updates will save to a db." matTextareaAutosize matAutosizeMinRows="2"
                matAutosizeMaxRows="10" [(ngModel)]="summary"></textarea>
    </mat-form-field>
  </div>
</div>

{{summary}}

<div class="issues">
    <p>Issues</p> 
    <mat-form-field class="issues_input">
      <input id="date_input" matInput [matDatepicker]="picker" [(ngModel)]="issue_date" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button class="issues_button" style="margin-top:10px;" mat-raised-button (click)="getIssuesByDate()">Filter By Date Updated</button>
    <div class="issue_list">
      <mat-list-item *ngFor="let issue of issues">
        <div class="issue_title">{{issue.title}}</div>
        <span style="color:grey">Status:</span> <span style="color:chartreuse; padding-right: 50px;" *ngIf="issue.state == 'open'">{{issue.state}}</span><span style="color:crimson; padding-right: 50px;" *ngIf="issue.state == 'closed'">{{issue.state}}</span>
        Created At: <span class="issue_dates">{{issue.created_at}}</span>      Updated At: <span class="issue_dates">{{issue.updated_at}}</span>
        <br> 
        <div class="issue_body">{{issue.body}}</div>
      </mat-list-item>
    </div>
</div>
    </div>
  </div>
  <div *ngIf="errorMessage" class="error">{{errorMessage}}</div>
    </section>