.error {
    background-color: red;
    color: yellow;
}

body {
    margin: 0 auto;
}

h1 {
    font-size: 300%;
    font-weight: bold;
    color: white;
}

hr {
    width: 60%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.fetch_button {
    background-color: #00BFA5;
    color: white;
}

.title_background {
    background-image: url("/assets/images/kellogg_building_01_1800x1158.jpg");
    width: 100%;
    background-position-y: -400px;
}

.title_box {
    background-color: rgba(3, 3, 3, 0.3);
    width: 70%;
    padding: 15px;
    margin: 0 auto;
}

.repo_description {
    color: lightgrey;
}

.summary {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.fr-toolbar {
    color: #00BFA5;
}

.summary_input {
    width: 80%;
}

.summary_edit {
    align-items: center;
    margin: 0 auto;
    width: 90%;
    margin-top: 15px; 
    margin-bottom: 15px;
}

.summary_box {
    border: .5px solid #dbdbdb;
    margin-bottom: 50px;
    padding-bottom: 15px;
    align-items: center;
}

.summary_button {
    margin: 0 auto;
    background-color: #00BFA5;
    color: white;
}

.summary_title {
    margin-top: 20px; 
    text-align: left;
    font-size: 200%;
    font-weight: bold;
    color: #00BFA5;
}

.issues  {
    margin: 0 auto;
    margin-top: 25px;
    text-align: left;
    width: 80%;
    padding: none;
}

.issues p {
    color: #00BFA5;
    font-size: 200%;
    font-weight: bold;
    margin: 0;
    margin-top: 25px;
}

.issue_list {
    border: .5px solid #dbdbdb; 
    padding-left: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.issue_title {
    font-size: 150%;
    margin-top: 12.5px;
    font-weight: bold;
}


.issue_body {
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.issue_dates {
    padding-right: 30px;
    color: #00BFA5;
}

.issues_input {
    width: 20%;
}

.issues_button {
    vertical-align: top;
    margin-left: 15px;
    background-color: #00BFA5;
    color: white;
}